.view-details-blog {
    width: 60%;
    margin: auto;
    color: #3d41bed4;
    padding-bottom: 30px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    .action-blog {
        display: flex;
        i {
            width: 30px;
            height: 30px;
            font-size: 24px;
            cursor: pointer;
            &:hover {
                color: purple;
            }
        }
    }
    .title {
        display: flex;
        justify-content: space-between;
        img {
            width: 320px;
            height: 250px;
            cursor:pointer;
        }
    }
    .description {
        white-space: pre-line;
    }
    .image-upload>input {
        display: none;
    }
}